:root {
  --color-white: #fff;
  --color-grey-300: #c3c3c3;
  --color-black: #000;

  /*border*/
  --system-radius-sm: 5px;

  /*transition*/
  --trans-all-5: all 0.5s ease;
  --trans-all-3: all 0.3s ease;

  /*images*/
  --images-select-arrow: url('../../shared/images/arrow.svg')
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Kreon", cursive, Georgia, "Times New Roman", Times, serif;
  background-color: var(--bg);
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  box-sizing: border-box;
  min-height: 100vh;
}